<h1>Edit recipe</h1>

<% if @recipe.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
  <% @recipe.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :rank %>
  <%= f.text_field :rank %>
  <%= f.label :instructions %>
  <%= f.text_field :instructions %>
  <%= f.submit %>
<% end %>
