
<h1><%= @recipe.name %></h1>
<h3><%= @recipe.category %></h3>
<h3><%= @recipe.rank %></h3>
<h3><%= @recipe.instructions %></h3>


<% if @needed_ingredients.any? %>
<ul>
<% @needed_ingredients.each do |needed_ingredient| %>
  <li><%= link_to needed_ingredient.name, ingredient_path(needed_ingredient) %></li>
<% end %>
</ul>
<% else %>
  <p>There are no ingredients have been added to this recipe.</p>
<% end %>

<% if @ingredients.any? %>
<%= form_for @recipe do |f| %>
<%= collection_select(:selected, :ingredient_id, @ingredients, :id, :name) %>
<%= f.submit 'Add Ingredient' %>
<% end %>
<% end %>


<p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>
<p><%= link_to "Delete", recipe_path(@recipe), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>

<p><%= link_to "Return to Recipes list", recipes_path %></p>
